@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* transparent background */
}

canvas#matrix {
    position: fixed; /* changed to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px); /* 5px blur */
}

.head {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    backdrop-filter: blur(40px);
    border-bottom: 2px rgba(18.39, 229.91, 26.85, 0.30) solid;
    border-right: 2px rgba(18.39, 229.91, 26.85, 0.30) solid;
    border-bottom-right-radius: 10px;
    z-index: 98;
    padding: auto;
}

.head .name {
    position: absolute;
    left: 70px;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    z-index: 99;
    word-wrap: break-word;
}

.head .search {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 32%; /* Center horizontally */
    top: 15px;
    transform: translateX(-50%);
    background: transparent;
    backdrop-filter: blur(40px);
    border: 2px rgba(18.39, 229.91, 26.85, 0.60) solid;
    border-radius: 40px;
    transition: 0.5s;
    overflow: hidden;
}

.head .search.active {
    width: 460px;
}

.head .search .icon {
    position: absolute;
    top: -1.75px;
    left: -1.75px;
    font-size: 40px;
    color: #d5dad4;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    cursor: pointer;
}

.head .search .input {
    position: relative;
    width: 360px;
    height: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: #cff3dc;
    padding: 10px;
}

.head .search .clear {
    opacity: 0;
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .search.active .clear {
    opacity: 1;
}

.sidebar {
    position: absolute;
    top: 80px;
    left: 0;
    width: 80px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 6px 14px;
    transition: .5s;
    z-index: 99;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    font-size: 2em;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .3s;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    line-height: 40px;
    transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn {
    left: 90%;
}

.sidebar .list {
    margin-top: 10px;
}

.sidebar .list .list-item {
    height: 50px;
    width: 100%;
    margin: 5px 0;
    list-style: none;
    line-height: 50px;
}

.sidebar .list .list-item a {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 6px;
    transition: .5s;
}

.sidebar .list .list-item a:hover {
    background: rgba(3, 237, 15, 0.15);
}

.sidebar .list .list-item a i {
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
}

.sidebar .list .list-item .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .list .list-item .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}

.sidebar .link-name .btnlogin-popup {
    background: transparent;
    font-size: 18px;
    border: 0px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.sidebar.active .link-name .btnlogin-popup {
    background: transparent;
    font-size: 18px;
    border: 0px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px rgba(18.39, 229.91, 26.85, 0.4) solid;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 100;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper.form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background:rgba(18.39, 229.91, 26.85, 0.2);
    font-size: 2em;
    color: #cff3dc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    /* border-bottom-right-radius: 20px;
    border-top-left-radius: 20px; */
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: #cff3dc;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #cff3dc;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #cff3dc;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #cff3dc;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #cff3dc;
    line-height: 57px;
}

.remember-forgot {
    font-size:.9em;
    color: #cff3dc;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color:#cff3dc;
    margin-right: 3px;
}
.remember-forgot a {
    color: #cff3dc;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgba(18.39, 229.91, 26.85, 0.2);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #cff3dc;
    font-weight: 500;
}

.login-register {
    font-size:.9em;
    color: #cff3dc;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #cff3dc;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.search-results {
    position: fixed;
    top: 80px; /* Adjust based on your header height */
    left: 90px; /* Adjust based on your sidebar width */
    width: calc(100% - 100px); /* Adjust based on your sidebar width */
    height: calc(100% - 90px); /* Adjust based on your header height */
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: 0.5s;
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.search-results.active {
    transform: translateY(0%);
}

.sidebar.active ~ .search-results {
    left: 270px; /* Adjust based on your sidebar width when active */
    width: calc(100% - 280px); /* Adjust based on your sidebar width when active */
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}